*,
*::after,
*::before {
  box-sizing: border-box;
}
.wrapper {
  border: 2px solid gold;
}

header {
  background-color: blueviolet;
}
main {
  background-color: rgb(167, 81, 247);
}
footer {
  background-color: rgb(194, 128, 255);
}
